@import url('https://fonts.googleapis.com/css?family=Comfortaa:100,200,300,400,500,600,700|Prompt:100,200,300,400,500,600,700');

body {
    background-color:#fffff7;
}
.fix-gap {
    padding:0;
}
/*--------------------------------- NAV */
nav ul {
 
    text-align:center;
    margin:0 auto;
    
}
nav ul li { 
    
    margin:0 auto;
    width:20%;
    display:inline-block;
    margin:0;
    border-radius:none;
    background-color:#333333;
   
}
.nav-pills .nav-link {
    border-radius:0%;
}
.nav-pills .nav-link.active {
     background-color:#d01b33;

}
.active .bg-color {
    background-color:#d01b33;
}
nav li a {
 color:#eeeeee;
 font-family: 'Comfortaa', sans-serif;
 font-weight:800;
 font-size:14px;
}
nav li a:hover {
    background-color:#eeeeee;
    color:#333333;
    font-weight:900;
}

/*--------------------------------- Header */

.header-left {
     min-height:250px;
     background:#2b78e4;
}
.header-left .name {
    padding:0;
color:#fff;;
font-family: 'Promt',sans-serif;
font-weight:400;
margin-left:30px;
margin-top:30px;

}
.header-left .value {
    color:#fff;
    font-family: 'Comfortaa',sans-serif;
    font-weight:400;
    margin-left:30px;
    margin-top:20px;
}
.header-left .personal-info{
     color:#fff;
    font-family: 'verdana',sans-serif;
   text-align:right;
   display:inline-block;
   float:right;
}
.header-right {
     background-color:#333333;
   
}
.circle-border {
    border:3px solid #fffff7;
    width:264px;
    height:264px;
   /* border-radius:blue;*/
     margin:0 auto;
    border-radius:50%;
  /*  background-color:blue;*/
}
.size {
    width:250px;
}

 .frame-for-picture {
    height: 250px;
    width: 250px;
    background: url(../images/Rimantas-Preiksas.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -80px;
   /*border: 2px solid blue;*/
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 4px;
}
.borders {
    border:1px solid red;
}
/*--------------------------------- seperator */
/*
.col-md-7 ,.spacing {
    padding-right: 0; 
    padding-left: 0;
}
.col-md-4 ,.spacing{
     padding-right: 0; 
    padding-left: 0;
}
.col-md-1 ,.spacing{
     padding-right: 0; 
    padding-left: 0;
}
*/

.line-1 {
    border:2px solid #333333;
   /*  margin-top:28px;  */
  margin-top:0px;
}

.icon {
    color:#d01b33;
    font-size:32px;
  /* margin-left:33%;*/
}
.icons {
    margin:0 auto;
}
.line-2 {
    border:1px solid red;
    margin-top:0px;
 
  /* margin-top:28px; */
}

/*--------------------------------- Main Section*/
.main-section-right {
   margin-left:30px;

}
.main-section-right .about {
   font-size:40px;
   font-family: "Promt", sans-serif;
   font-weight: bold;
   font-style:italic;
   color:#437ccb;
   text-transform: capitalize;
}
.icon-color {
    font-size:inherit;
    color:#d01b33;
}
.main-section-right p {
   margin-left:45px;
   color:#666666;
   font-family: "Comfortaa", sans-serif;

}

/*--------------------------------- padding -- I had the problms with padding on xs ans sm screens*/ 
.no-gutters, .no-padding {
    padding-left:0;
    padding-right:0;
} 
/*--------------------------------- Footer */
footer {
    min-height:100px;
    background-color:#333333;
   

    
}
footer {
 min-height:100px;
}
footer .social-links {
  
   
    padding:0;
}
.social-inline-items {
    display:inline-block;
    border:2px solid #fffff7;
    height:60px;
    width:60px;
    background-color:#333333;
    margin-top:20px;
    line-height:60px;
    border-radius:30px;
    text-align:center;
}
.social-inline-items a {
    text-decoration:none; 
}


.social-inline-items i {
    font-size:40px;
    color:#fffff7;
   
    text-align: center;
    line-height: 56px;
    
 
}
.linkedin {
    font-size:40px !important;
    color:#fffff7;
    line-height: 56px;
    
}
.ss {
    padding:0;
}
.col {
    padding:0;
}








